<div class="container">

  <h1>Recipes Home Page</h1>

  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <a href="/recipes/<%= recipe.slug_name %>"><%= recipe.name %> </a>
         <% if recipe.rating != nil %>
           | Rating: <%= recipe.rating %>
         <% end %>
      </li>
    <% end %>
  </ul>


  <a href="/recipes/new"><button>Add a new Recipe</button></a>

</div>
