<div class="container">

  <h1>New Recipe</h1>

  <% if @recipe.errors.any? %>
    <h3>Please fix these errors:</h3>
    <ul>
    <% @recipe.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <form action="/recipes" method="post">
    <label for="recipe_name">Name</label>
    <input id="recipe_name" name="recipe[name]" type="text" value="<%= @recipe.name %>">
    <button>Add Recipe</button>
  </form>

</div>

